.rss-preview {
	color: rgb(100, 100, 100);
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 15px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	line-height: 20px;
}
li {
	margin: 1px 0px 1px 0px;
	border-left: 20px solid;
	border-color: #e3e3e3;
}
li.Abendblatt {
	border-color: #078B1D;
}
li.MOPO {
	border-color: #ce3f3f;
}
li.Bild {
	border-color: #fd2020;
}
li.Hamburgde {
	border-color: #3a20ff;
}